.heading{
    text-indent: 15%;
    margin-top: 25px ;
    font-size: 150px;


    font-family: "Island Moments", cursive;
    font-weight: 550;
    font-style: normal;
}
.logo{
    position: absolute;
    margin-top: 0%;
    
}