.contact-form{
    text-align: center;
    background-color: bisque;
    border: 5px solid black;
    width: auto;
    height: 750px;
    margin: 150px;
    font-size: 30px;


}
.input-group{
    font-size: 24px;
    
}
.btn-primary{
    width: 150px;
    background-color: black;
    height: 50px;
    color: beige;
    font-size: 27px;
}
.btn{

    font-family: "Boogaloo";
    font-weight: 400;
    font-style: normal;
    font-size: 65px;

}
header{
    margin-top: 320px;
    height: 200px;
    background-color: beige;
    background-size: cover;
    background-position: center;
    min-height : 100px;
    max-width: auto;
}
ul{
    list-style-type: none;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    padding: 0%;
    float: right;
    margin-bottom: 20px;  

}

ul li a{
    
    border: 2px solid transparent;
    margin-right: 40PX;
    margin-left: 20px;
    color: black;
    font-size: 45px;
    margin-bottom: 30px;
    
}

ul li a:hover{
    background-color: black;
    color: beige;
}

.logo img{
    position: fixed right ;
    margin: 0%;
    width: 120px;
    height: 150px;
}

.main{
    max-width: 2200px;
    margin: auto;
}

.title{
    font-family: "Island Moments";
    font-weight: 400;
    font-style: normal;
    color: black;
    text-indent: 15%;

}
.title h1{
    font-size: 300px;
    position: absolute;
    text-align: left;
    top: 0%;
    float: left;
}
































