.contact-form{
    text-align: center;
    background-color: bisque;
    border: 5px solid black;
    width: auto;
    height: 750px;
    margin: 150px;
    font-size: 30px;


}
.input-group{
    font-size: 24px;
    
}
.btn-primary{
    width: 150px;
    background-color: black;
    height: 50px;
    color: beige;
    font-size: 27px;
}

/*homepage*/
.btn{

    font-family: "Boogaloo";
    font-weight: 400;
    font-style: normal;

}
header{
    margin-top: 200px;
    height: 120px;
    background-color: beige;
    background-size: cover;
    min-height : 100px;
    width: auto;
}

ul li{
    padding: 0%;
    float: right;
    margin-bottom: 20px; 
    width: auto;


}

ul li a{
    
    border: 2px solid transparent;
    margin-right: 30PX;
    margin-left: 20px;
    top: 40%;
    color: black;
    font-size: 35px;
  
}

ul li a:hover{
    background-color:#77754C;
    color: beige;
}

.logo img{
    position: absolute;
    top: 0;
    margin: 0%;
    width: 80px;
    height: 120px;
}

.main{
    max-width: 2200px;
    margin: auto;
}

.title{
    font-family: "Island Moments";
    font-weight: 400;
    font-style: normal;
    color: black;
    text-indent: 15%;

}
.title h1{
    font-size: 200px;
    position:absolute;
    top: 0;
    left: 5%;
    padding: 0px;
}

.body1{
    background-image: url(Assets\bgimg.jpg);
   margin: 0px 20px 20px 0px;

}
.intro{
    font-family: "Boogaloo";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    text-align: left;
    margin-top: -400px;
    margin-left: 150px;

}
.body2{
    background-image: url(Assets\bgimg.jpg);
    
    

}
.intro2{
    background-image: url(Assets\bgimg.jpg) ;
    font-family: "Boogaloo";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

    text-align: right;
    margin-top: -870px;
    margin-right:150px;

}
.footercontainer{
    width: 100%;
    background-color: #77754C;

}

.icons{
    display: flex;
    justify-content: center;

}
.icons a{
    text-decoration: none;
    padding: 30px;
    color: beige;
    
}
.footercontainer{
    position: absolute;
bottom: 0%;
}









/*education*/

.back{
    background-image: url(Assets\bgimage.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}





























